  
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #e6ecf0;
}

html, body, #root {
  height: 100%;
}


body, input, button {
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

button {
  cursor: pointer;
}

